* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	grid-area: header;
	display: grid;
	justify-items: center;
	align-items: center;

	background: var(--header-clr);
	color: var(--text-clr);
}

.header > h1 {
	font-size: var(--fs-1);
}
