#home-button {
	grid-area: home;
}

#menu-button {
	grid-area: menu;
}

#contact-button {
	grid-area: contact;
}

.tab-button {
	background: none;
	border: none;
	color: var(--text-clr);
	font-size: var(--fs-3);
	font-family: var(--ff);
	font-weight: var(--fw);
	text-align: center;
	border-bottom: 2px solid transparent;
}

.tab-button.clicked {
	border-bottom: 2px solid var(--acc2-clr);
}

@media (max-width: 600px) {
	.tab-button {
		font-size: var(--fs-p);
	}
}
