* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	grid-area: content;
	justify-self: center;
	margin: 20px 0;
	width: min(900px, 80vw);
	padding: 30px;

	background-color: var(--wrapper-clr);
	color: var(--text-clr);
	text-align: center;
	border: 2px solid var(--acc-clr);
}

@media (max-width: 500px) {
	.wrapper {
		width: 100vw;
	}
}
