* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu-item {
	display: grid;
	background-color: var(--wrapper-clr);
	padding: 10px;
}

.menu-item-img {
	width: 100%;
	aspect-ratio: 4/3;
	border: 2px solid var(--acc2-clr);
}

.menu-item-name {
	font-size: var(--fs-3);
	font-family: var(--ff-h);
}

.menu-item-description {
	font-size: var(--fs-p);
}
