* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu-section {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 40px;
}

.section-heading {
	grid-area: 1 / 1 / 1 /-1;
	font-size: var(--fs-2);
}
