:root {
	--bg-clr: #ffffff;
	--header-clr: #7f1d1d;
	--nav-clr: var(--header-clr);
	--wrapper-clr: #292524;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	min-height: 100vh;
	background-color: var(--bg-clr);
}

#content {
	width: 100vw;
	min-height: 100vh;
	display: grid;
	grid-template:
		'header' 2fr
		'nav' 1fr
		'content' 8fr;
}
