:root {
	--bg-clr: #ffffff88;
	--header-clr: #ffffff88;
	--nav-clr: var(--header-clr);
	--wrapper-clr: #ffffff88;

	--text-clr: #18181b;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	min-height: 100vh;
	background-color: var(--bg-clr);
}

#content {
	width: 100vw;
	min-height: 100vh;
	display: grid;
	grid-template:
		'header' 200px
		'nav' min-content
		'content' 1fr;

	background: url(./pizza.jpg) center/cover;
}
