* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav {
	grid-area: nav;
	display: grid;
	grid-template-areas: 'home menu contact';
	grid-template-columns: repeat(3, min(150px, 30%));
	justify-content: center;
	gap: min(80px, 10%);

	background: var(--nav-clr);
	color: var(--text-clr);
}

@media (max-width: 600px) {
	.nav {
		gap: 5px;
	}
}
